.colorPage {
  width: 100vw;
  min-height: 100%;
  position: absolute;
  top: 0;
}

.red {
  background-color: rgb(241, 45, 45);
}
.orange {
  background-color: rgb(250, 184, 60);
}
.yellow {
  background-color: rgb(245, 245, 41);
}

.green {
  background-color: rgb(53, 231, 53);
}

.blue {
  background-color: rgb(61, 61, 238);
}

.darkBlue {
  background-color: rgb(29, 29, 141);
}
.violet {
  background-color: violet;
}
